header#df_global_header
  position: static
  background: #fff
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35)
  top: 0
  left: 0
  right: 0
  transition: all .3s ease
  z-index: 2
  &.scroll
    transform: translateY(-100%)

  .container
    display: flex
    justify-content: space-between
    padding: 0 1rem

  .logo
    max-width: 100px
    margin: 1rem 0
    margin-left: 1rem
    img
      width: 100px

  nav
    +horizontal-nav(1rem)

    a
      font-size: 1.2rem




header
  top: 0
  left: 0
  width: 100%
  .container
    display: flex
    justify-content: space-between
    align-items: center

  figure
    margin: 0
    a
      color: #fff
      text-decoration: none
      font:
        size: 1.4rem
        weight: 600
  nav
    ul
      +reset-ul
    li
      display: inline-block
    a
      color: #fff
      display: block
      text-decoration: none
      margin: 0
      padding: .8rem
      font:
        size: 1.4rem
        weight: 600
