/*====== COLORS ====== */
/*====== DIMENSIONS ====== */
body {
  margin: 0; }

a {
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 62.5%; }

figure {
  margin: 0; }

body {
  color: #5a5a5a;
  font-size: 1.8rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr, a {
  margin: 0;
  margin-bottom: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  color: #303030;
  line-height: 1; }

a.btn button {
  background: #3b4954;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 0.6rem 1.8rem;
  font-size: inherit;
  font-weight: 700;
  transition: all 0.15s ease; }
  a.btn button:focus {
    outline: none; }
a.btn:hover button {
  background: #506372; }

a.btn-download button {
  background: #665c63; }
a.btn-download:hover button {
  background: #81747d; }

pre {
  font-size: 1.4rem; }

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto; }

.panel {
  padding: 5rem 0; }

@media (max-width: 1280px) {
  .container {
    max-width: 750px; } }
#contentTabs {
  background: #fff;
  border: #3b4954 3px solid;
  width: 100%; }
  #contentTabs .contentTabs--header {
    display: flex;
    flex-wrap: auto; }
    #contentTabs .contentTabs--header .tab-header {
      border-right: #3b4954 3px solid;
      border-bottom: #3b4954 3px solid;
      cursor: pointer;
      display: inline-block;
      padding: 1.6rem 3.2rem;
      flex-basis: 0;
      flex-grow: 1;
      transition: all 0.15s ease; }
      #contentTabs .contentTabs--header .tab-header:hover {
        background: #bdc8d1; }
      #contentTabs .contentTabs--header .tab-header:last-of-type {
        border-right: none; }
    #contentTabs .contentTabs--header .active {
      background: #3b4954;
      color: #eee; }
      #contentTabs .contentTabs--header .active:hover {
        background: #506372; }
  #contentTabs .contentTabs--content .tab-content {
    display: none;
    padding: 3.2rem; }
    #contentTabs .contentTabs--content .tab-content h2 {
      margin-top: 0; }
  #contentTabs .contentTabs--content .active {
    display: block; }

#df_global_header {
  position: static;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.735);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  z-index: 3; }
  #df_global_header.scroll {
    transform: translateY(-100%); }
  #df_global_header .container {
    display: flex;
    justify-content: space-between; }
  #df_global_header .logo {
    max-width: 100px;
    margin: 1rem 0; }
    #df_global_header .logo img {
      width: 100px; }
  #df_global_header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #df_global_header nav li {
    display: inline-block; }
  #df_global_header nav a {
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: 1rem;
    margin: 0; }
  #df_global_header nav a {
    color: inherit;
    font-size: 1.2rem; }

main {
  position: relative; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header figure {
    margin: 0; }
    header figure a {
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  header nav li {
    display: inline-block; }
  header nav a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600; }

#intro {
  background-image: url("../img/introBG.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  min-height: 300px;
  display: flex;
  align-items: center;
  position: relative; }
  #intro h1 {
    color: #FFF;
    font-size: 4.8rem;
    text-transform: uppercase; }
  #intro figure {
    max-width: 560px;
    margin: 0 auto; }

#demonstration {
  background: rgba(0, 0, 0, 0.05); }

#footer {
  background: #3b4954; }
  #footer strong {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
